
$white: #FFFFFF;
$blue:#42446E;
$grad:linear-gradient(90deg, #E70FAA 2.06%, #13B0F5 100%);
$gradient: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
$dark-ash:#666666;
$lighter-ash:#D9D9D9;
$light-ash:#A7A7A7;
$dark:#191919;
$green:#018C0F;
$light-green:#D7FFE0;